body{
    text-align: center;
}
.wholepage{
    padding: 20px;
}
.container{
    font-size: 25px;
    min-height: 300px;
    width: 100%;
    background: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat (4, 1fr);
    margin:10px;

    
    padding-top: 25%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    
}
.container, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .zero{
    color: white;
    grid-gap: 10px;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .zero, .period{
    background-color:rgb(75, 75, 75);
    text-align:center;    
}

.ac, .plusminus, .percent{
    background-color:grey;
    text-align:center;
}

.divide, .multiply, .subtract, .add, .equal{
    background-color:orange;
    text-align:center;
}
.zero{
    grid-column: 1/3;
}

